<h2>Template-driven fomr</h2>
<form #f="ngForm">
  <div class="form-group">
    <label>password</label>
    <input type="password" class="form-control" name="password" ngModel #password="ngModel" required>
    <div class="text-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
      password is required
    </div>
    </div>
    <div class="form-group">
      <label>confirm password</label>
      <input type="password" class="form-control" name="passwordConfirm" ngModel #confirmPassword="ngModel" required compare="password">
      <div class="text-danger" *ngIf="confirmPassword.invalid && (confirmPassword || confirmPassword.touched)">
        <div *ngIf="confirmPassword.errors['required']">confirmPassword is required</div>
        <div *ngIf="confirmPassword.errors['compare']">confirmPassword is does not match</div>
</div>
      </div>
      <button type="button" class="btn btn-primary" [disabled]="f.invalid">submit</button>
</form>
<br>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Form status:{{f.status}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">form value</h6>
    <pre>{{f.value | json}}</pre>
  </div>
</div>